            - script: | #Getting access to fileshare
                  net use Z: ${deploy_fileshare_path}  /user:WMSERVICE\${deploy_fileshare_username} ${deploy_fileshare_password}
              displayName: 'Access File Share'

            - task: CopyFiles@2 #Copying artificats to the fileshare path
              inputs:
                SourceFolder: '$(Agent.BuildDirectory)/drop'
                Contents: '**'
                TargetFolder: 'Z:\'
                OverWrite: true
              displayName: 'Publish to file share'

            - script: | #Removing access to fileshare
                  net use Z: /delete  
              displayName: 'Deletion Access File Share'
              condition: always()

           