            - task: HelmInstaller@0 #Installing Helm Dependencies
              displayName: 'Install Helm 2.9.1'
              inputs:
                helmVersion: 2.9.1          
                kubectlVersion: 1.10.3
                checkLatestKubectl: false 

            - task: HelmDeploy@0 #Deploying to k8s cluster using helm
              displayName: 'helm install'
              inputs:
                azureSubscription: $(deploy_helm_azureSubscriptionEndpoint)
                azureResourceGroup: $(deploy_helm_azureResourceGroup)
                kubernetesCluster: $(deploy_helm_kubernetesCluster)
                command: install
                chartType: FilePath
                chartPath: Application/charts/sampleapp 
                failOnStderr: false