jobs:
  - deployment: Deploy
    displayName: {{ deployment_tool }}
    environment:
      name: {{ '${{ parameters.environment }}' }}
    strategy:
      runOnce:
        deploy:
          steps:
            {% if deployment_tool == 'kubernetes' %}
              {% include 'deployment/kubernetes.j2' %}
            {% endif %}
            {% if deployment_tool == 'linux_binary_copy)' %}
              {% include 'deployment/linux_binary_copy.j2' %}
            {% endif %}
            {% if deployment_tool == 'windows_binary_copy)' %}
              {% include 'deployment/windows_binary_copy.j2' %}
            {% endif %}
            {% if deployment_tool == 'fileshare' %}
              {% include 'deployment/fileshare.j2' %}
            {% endif %}
