  {% if ms_team_webhook_url == 'none' %}
  - name: TeamNotify
    displayName: Notification
    type: boolean
    default: false
  {% else %}
  - name: TeamNotify
    displayName: Notification
    type: boolean
    default: true  
  {% endif %}

  {% if functional_test_tool != 'none' or performance_test_tool != 'none' or api_test_tool != 'none' or security_test_tool != 'none' %}
  - name: ContinuousTesting
    displayName: Continuous Testing
    type: boolean
    default: true
  {% else %}  
  - name: ContinuousTesting
    displayName: Continuous Testing
    type: boolean
    default: false
  {% endif %}