steps:
  - bash: |  
        export strVal="$(Build.SourceBranch)"
        if [[ $strVal == *'develop'* ]]; then
               echo '##vso[task.setvariable variable=_publish_tag]dev'
               echo '[INFO] Tagging is set to dev'
        elif [[ $strVal == *'test'* ]]; then
                echo '##vso[task.setvariable variable=_publish_tag]test'
                echo '[INFO] Tagging is set to test'
        elif [[ $strVal == *'stage'* ]]; then
                echo '##vso[task.setvariable variable=_publish_tag]test'
                echo '[INFO] Tagging is set to test'      
        elif [[ $strVal == *'main'* ]]; then
               echo '##vso[task.setvariable variable=_publish_tag]prod'
               echo '[INFO] Tagging is set to prod'  
        else
               strVal="$(Build.SourceBranchName)"
               strVal=${strVal,,}
               echo "##vso[task.setvariable variable=_publish_tag]${strVal}"
               echo "[INFO] Tagging is set to $strVal"    
        fi
    displayName: PublishTag
    condition: eq(variables['Agent.OS'], 'Linux')

  - powershell: |
         $strVal = "$(Build.SourceBranchName)"
         if($strVal.StartsWith('dev','CurrentCultureIgnoreCase')){
              Write-Host '##vso[task.setvariable variable=_publish_tag]dev'
              write-host('[INFO] Tagging is set to dev ')
         }elseif($strVal.StartsWith('test','CurrentCultureIgnoreCase')){
              Write-Host '##vso[task.setvariable variable=_publish_tag]test'
              write-host('[INFO] Tagging is set to test ')
         }elseif($strVal.StartsWith('stage','CurrentCultureIgnoreCase')){
              Write-Host '##vso[task.setvariable variable=_publish_tag]test'
              write-host('[INFO] Tagging is set to test ')
         }elseif($strVal.StartsWith('main','CurrentCultureIgnoreCase')){
              Write-Host '##vso[task.setvariable variable=_publish_tag]prod'
              write-host('[INFO] Tagging is set to prod ')
         }else{
              $strVal = $strVal.ToLower() 
              Write-Host "##vso[task.setvariable variable=_publish_tag]$strVal"
              write-host("[INFO] Tagging is set to $strVal")
         }
    displayName: 'PublishTag'
    condition: eq(variables['Agent.OS'], 'Windows_NT')