sonar.projectKey={{ sonarqube_project_key }}

sonar.projectVersion=1.0
sonar.sources=.
{% if stack_build_tool == 'maven' %}
sonar.java.binaries=drop
{% endif %}
{% if stack_build_tool == 'ant' %}
sonar.java.binaries=drop
{% endif %}
{% if tech_stack == 'python' %}
sonar.python.xunit.reportPath=drop/TEST-results.xml
# Coverage
sonar.python.coverage.reportPaths=drop/coverage.xml
{% endif %}