stages:

  #Below module is for FunctionalTesting
  
  {% if functional_test_tool != 'none' %}
  - stage: FunctionalTesting
    displayName: 'Functional Test'
    dependsOn:
      - Deployment
    pool: $(linux_build_agent_pool)
    variables:
      - template: variables.yaml
    jobs:
    {% if functional_test_tool == 'uft_alm' %}
      {% include 'testing/functional/uft_alm.j2' %}
    {% endif %}  
    {% if functional_test_tool == 'torchbearer' %}
      {% include 'testing/functional/torchbearer.j2' %}
    {% endif %}
    {% if functional_test_tool == 'autoit' %}
      {% include 'testing/functional/autoit.j2' %}
    {% endif %}

    {% if publish_test_metrics == 'True' %}
    {% with test_tool=functional_test_tool, artifacts_name=functional_test_tool, job_name=functional_test_tool %}
      {% include 'test_metrics.j2' %}
    {% endwith %}
    {% endif %}
  {% endif %} 

  #Below module is for Performance Testing
  
  {% if performance_test_tool != 'none' %}
  - stage: PerformanceTesting
    displayName: 'Performance Test'
    dependsOn:
      - Deployment
    pool: $(linux_build_agent_pool)
    variables:
      - template: variables.yaml
    jobs:
    {% if performance_test_tool == 'jmeter' %}
      {% include 'testing/performance/jmeter.j2' %}
    {% endif %}
    {% if performance_test_tool == 'performance_center' %}
      {% include 'testing/performance/performance_center.j2' %}
    {% endif %} 

    {% if publish_test_metrics == 'True' %}
    {% with test_tool=performance_test_tool, artifacts_name=performance_test_tool, job_name=performance_test_tool %}
      {% include 'test_metrics.j2' %}
    {% endwith %}
    {% endif %}
  {% endif %} 

  #Below module is for API Testing

  {% if api_test_tool != 'none' %}
  - stage: ApiTesting
    displayName: 'API Test'
    dependsOn:
      - Deployment
    pool: $(linux_build_agent_pool)
    variables:
      - template: variables.yaml
    jobs:
    {% if api_test_tool == 'postman' %}
      {% include 'testing/api/postman.j2' %}
    {% endif %}  
    {% if api_test_tool == 'soapui' %}
      {% include 'testing/api/soapui.j2' %}
    {% endif %}  
    {% if api_test_tool == 'rest_assured' %}
      {% include 'testing/api/rest_assured.j2' %}
    {% endif %} 

    {% if publish_test_metrics == 'True' %}
    {% with test_tool=api_test_tool, artifacts_name=api_test_tool, job_name=api_test_tool %}
      {% include 'test_metrics.j2' %}
    {% endwith %}
    {% endif %}
  {% endif %} 

  {% if security_test_tool != 'none' %}
  - stage: SecurityTesting
    displayName: 'Security Test'
    dependsOn:
      - Deployment
    variables:
      - template: variables.yaml
    jobs:
    {% if security_test_tool == 'owasp_zap' %}
      {% include 'testing/security/owasp_zap.j2' %}
    {% endif %} 

    {% if publish_test_metrics == 'True' %}
    {% with test_tool=security_test_tool, artifacts_name=security_test_tool, job_name=security_test_tool %}
      {% include 'test_metrics.j2' %}
    {% endwith %} 
    {% endif %}
  {% endif %}  
