variables:
  # Azure Container Registry (ACR)
  framework_acr_registry: {{ pipegen_acr_registry }}
  
  {% if sonarqube == 'True' %}
  # SonarQube
  projectKey: {{ sonarqube_project_key }}
  {% endif %}

  {% if tech_stack == 'asp_dotnet_framework' %}
  # Tech Stack - ASP.NET
  {% if existing_github_repository == 'none' %}
  dotnet_framework_buildSolutionPath:  '**/*.sln'
  {% else %}
  dotnet_framework_buildSolutionPath: <update build__file_path>
  {% endif %}
  {% endif %}

  {% if tech_stack == 'dotnet_core' %}
  # Tech Stack - .NET Core
  dotnet_core_buildConfiguration: 'Release'
  {% if existing_github_repository == 'none' %}
  dotnet_core_buildSolutionPath:  '**/*.sln'
  dotnet_core_testProjectPath: '**/*Tests/*.csproj
  {% else %}
  dotnet_core_buildSolutionPath: <update build__file_path>
  dotnet_core_testProjectPath: <update test_file_path>
  {% endif %}
  {% endif %}

  {% if tech_stack == 'java' %}
  # Tech Stack - Java
  java_codeCoverageTool: 'JaCoCo'
  {% if stack_build_tool == 'ant' %}
  {% if existing_github_repository == 'none' %}
  ant_buildFilePath: 'build.xml'
  {% else %}
  ant_buildFilePath: <update build_file_path>
  {% endif %}
  {% elif stack_build_tool == 'maven' %}
  {% if existing_github_repository == 'none' %}
  mavenPomFilePath: 'pom.xml'
  {% else %}
  mavenPomFilePath: <update build_file_path>
  {% endif %}
  {% endif %}
  {% endif %}

  {% if tech_stack == 'javascript' %}
  # Tech Stack - Javascript
  js_installArg: ''
  js_buildArg: ''
  js_testArg: ''
  {% endif %}

  {% if tech_stack == 'python' %}
  # Tech Stack - Python
  {% if stack_unittest_tool == 'pytest' %}
  {% if existing_github_repository == 'none' %}
  pytest_script_path: 'Tests/unit_tests/test_views.py'
  {% else %}
  pytest_script_path: <update pytestfile_path>
  {% endif %}
  {% elif stack_unittest_tool == 'unittest' %}
  {% if existing_github_repository == 'none' %}
  python_unittest_script_path: 'Tests/unit_tests/test_views.py'
  {% else %}
  python_unittest_script_path: <update unittestfile_path>
  {% endif %}
  {% endif %}
  {% endif %}

  {% if performance_test_tool == 'jmeter' %} 
  # Performance Testing - JMeter
  performance_test_jmeter_cli_opts: ''
  performance_test_jmeter_test_path: ''
  performance_test_jmeter_test_file: 'default.jmx'
  {% endif %}

  {% if performance_test_tool == 'performance_center' %} 
  # Performance Testing - Performance Center
  performance_test_performace_center_varPCServer: 'http://us1sxwn09577.wmservice.corpnet1.com/Loadtest'
  performance_test_performace_center_varDomain: PROJ_RDIT
  performance_test_performace_center_varProject: RDIT_1
  performance_test_performace_center_varTestID: 3477
  performance_test_performace_center_varTestInstID: 845
  performance_test_performace_center_varTimeslotDuration: 30
  performance_test_performace_center_varAutoTestInstance: false
  {% endif %}

  {% if functional_test_tool == 'autoit' %}
  # Functional Testing - AutoIT
  functional_test_autoit_installation_path: ''
  functional_test_autoit_script_location: 'Test.au3'
  {% endif %}

  {% if functional_test_tool == 'uft_alm' %}
  # Functional Testing - UFT (ALM)
  functional_test_uft_alm_varAlmserv: 'https://alm.gsk.com/qcbin'
  functional_test_uft_alm_varDomain: 'RD_IT'
  functional_test_uft_alm_varProject: 'Tool_Qualify_236521'
  functional_test_uft_alm_varTestsets: 'Root\To Be Deleted\test-framework'
  {% endif %}

  {% if functional_test_tool == 'torchbearer' %}
  # Functional Testing - Torchbearer
  torchbearer_github_repo_branch: 'feature/pipegen3integration'
  torchbearer_grid_url: 'https://selenium-hub.sdtdevops-dev.gsk.com/wd/hub'
  torchbearer_pom_xml: 'pom.xml'
  torchbearer_test_group: 'frameworkSanity'
  torchbearer_thread_count: '1'
  torchbearer_browser: 'Chrome'
  torchbearer_headless: true
  torchbearer_settings: 'setting.xml'
  torchbearer_retry_failed_test_case: 'true'
  {% endif %} 

  {% if api_test_tool == 'postman' %} 
  # API Testing - Postman
  api_test_postman_test_path: ''
  api_test_postman_test_file: 'Postman.postman_collection.json'
  {% endif %} 

  {% if api_test_tool == 'rest_assured' %} 
  # API Testing - Rest Assure
  api_test_rest_assured_pom: 'rest_assured_pom.xml'
  {% endif %} 

  {% if api_test_tool == 'soapui' %} 
  # API Testing - SoapUI 
  api_test_soapui_test_path: 'soapui'
  api_test_soapui_property_file: 'pis-saml-cws-dev.properties'
  api_test_soapui_project_file: 'PIS-SAML-soapui-project.xml'
  api_test_soapui_app_saml: 'PISSAML'
  {% endif %}  

  {% if security_test_tool == 'owasp_zap' %}
  # Security Testing - OWASP ZAP
  security_test_owasp_zap_target_url: 'https://medium.com'
  security_test_owasp_zap_test_type: 'zap-baseline.py'
  {% endif %}
