      - job: {{ functional_test_tool }}
        displayName: 'UFT (ALM)'
        pool: $(windows_build_agent_pool)  #UFT config should be made in agent
        variables:                      
          varUserName: $(functional_test_uft_alm_varUserName)
          varPass: $(functional_test_uft_alm_varPass)
        steps:
          - task: uftpublisher.UFT-Azure-extension.custom-build-task-3.RunFromALMTask@1       #Run ALM with UFT azure extension
            
            displayName: 'Maven pom.xml'
            inputs:
              varAlmserv: {{ '${{ variables.functional_test_uft_alm_varAlmserv }}' }}
              varDomain: {{ '${{ variables.functional_test_uft_alm_varDomain }}' }}
              varPass: '$(varPass)'
              varProject: {{ '${{ variables.functional_test_uft_alm_varProject }}' }}
              varTestsets: {{ '${{ variables.functional_test_uft_alm_varTestsets }}' }}
              varUserName: '$(varUserName)'