      - job: {{ tech_stack }}_build
        displayName: '.NET Core MS Build'
        pool: 
          vmImage: windows-latest
        variables:
          buildSolutionPath: {{ '${{ variables.dotnet_core_buildSolutionPath }}' }}
          buildConfiguration: {{ '${{ variables.dotnet_core_buildConfiguration }}' }}
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '5.0.x'   

          - task: DotNetCoreCLI@2
            inputs:
              command: 'restore'
              projects: '$(buildSolutionPath)'
              feedsToUse: 'select'
            displayName: Restore

          - task: DotNetCoreCLI@2
            inputs:
              command: 'build'
              projects: '$(buildSolutionPath)'
            displayName: Build

          - task: DotNetCoreCLI@2
            inputs:
              command: 'publish'
              publishWebProjects: true
              arguments: '--output $(Build.ArtifactStagingDirectory)'
            displayName: Publish

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(build.artifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'
