      - job: {{ performance_test_tool }}
        displayName: 'Performance Center'
        pool : $(windows_build_agent_pool)   #There is dependency to run performance center on Windows server.
        variables:                     #Below variables are stored in library
          varUserName: $(performance_test_performace_center_varUserName)
          varPassWord: $(performance_test_performace_center_varPassWord)
        steps:
          - task: PerformanceCenterTesting@1  #'PerformanceCenterTesting' (1.0.9) is using deprecated task execution handler
            inputs:
              varPCServer: {{ '${{ variables.performance_test_performace_center_varPCServer }}' }}
              varUserName: '$(varUserName)'
              varPassWord: '$(varPassWord)'
              varDomain: {{ '${{ variables.performance_test_performace_center_varDomain }}' }}
              varProject: {{ '${{ variables.performance_test_performace_center_varProject }}' }}
              varTestID: {{ '${{ variables.performance_test_performace_center_varTestID }}' }}
              varAutoTestInstance: {{ '${{ variables.performance_test_performace_center_varAutoTestInstance }}' }}
              varTestInstID: {{ '${{ variables.performance_test_performace_center_varTestInstID }}' }}
              varTimeslotDuration: {{ '${{ variables.performance_test_performace_center_varTimeslotDuration }}' }}
              artifactsDirectory: '$(Build.ArtifactStagingDirectory)/LRETest'
          
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)/LRETest'
              ArtifactName: {{ performance_test_tool }}
              publishLocation: 'Container'