      - job: {{ tech_stack }}_unittest
        displayName: '.NET Core UnitTest'
        pool: 
          vmImage: windows-latest
        variables:
          testProjectPath: {{ '${{ variables.dotnet_core_testProjectPath }}' }}
        steps:
          - task: DotNetCoreCLI@2
            inputs:
              command: 'test'
              projects: '$(testProjectPath)'
              testRunTitle: 'UnitTest_$(Build.BuildId)'