      - job: {{ tech_stack }}_unittest
        displayName: 'Python Unittest'
        pool: 
          vmImage: ubuntu-latest
        variables:
          test_script_path: {{ '${{ variables.python_unittest_script_path }}' }}
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'
              addToPath: true
              architecture: 'x64'

          - bash: |
                pip install -r requirements.txt 
            displayName: 'Install dependencies'

          #### Unittest specific task - starts ####
          - bash: |
                  python -m unittest -v $(test_script_path) 
            displayName: 'UnitTest'
          #### Unittest task - ends ####

        