      - job: {{ tech_stack }}_unittest
        displayName: 'Python PyTest'
        pool: 
          vmImage: ubuntu-latest
        variables:
          test_script_path: {{ '${{ variables.pytest_script_path }}' }}

        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'
              addToPath: true
              architecture: 'x64'

          - bash: |
                pip install -r requirements.txt 
            displayName: 'Install dependencies'

          #### PyTest Specific tasks  - starts ####
          - bash: |
                  pip install pytest
                  pip install pytest-cov
                  pytest $(test_script_path) --cov=. --doctest-modules --junitxml='$(System.DefaultWorkingDirectory)/TestResults/TEST-results.xml' --cov-report=xml:'$(System.DefaultWorkingDirectory)/TestResults/coverage.xml' --cov-report=html:'$(System.DefaultWorkingDirectory)/TestResults/htmlcov'
            displayName: 'Pytest'

          - task: PublishTestResults@2
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '$(System.DefaultWorkingDirectory)/TestResults/TEST-results.xml'
              testRunTitle: 'UnitTest_$(Build.BuildId)'

          - task: PublishCodeCoverageResults@1
            inputs:
              codeCoverageTool: 'Cobertura'
              summaryFileLocation: '$(System.DefaultWorkingDirectory)/TestResults/coverage.xml'
              reportDirectory: '$(System.DefaultWorkingDirectory)/TestResults/htmlcov'

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(System.DefaultWorkingDirectory)/TestResults'
              ArtifactName: 'drop'
              publishLocation: 'Container'
          #### PyTest Specific tasks  - ends ####    
