      steps:  
        - task: SynopsysDetectTask@7
          inputs:
            BlackDuckService: '$(blackduck_service_connection)'
            DetectArguments: |
              --detect.project.name=$(project_name)
              --detect.project.version.name=$(project_version)   # This is the mandatory field which we are passing as v1.0.0
              --detect.code.location.name=$(project_name)
              --detect.risk.report.pdf=$(blackduck_risk_report)   # This is to generate scan report
              --detect.wait.for.results=true
            AddTaskSummary: false
            DetectVersion: 'latest'  
        
        - task: CopyFiles@2     #Copy the report file to Artifact Staging Directory
          inputs:
            SourceFolder: '$(System.DefaultWorkingDirectory)'
            Contents: '**/*.pdf'
            TargetFolder: '$(Build.ArtifactStagingDirectory)'

        - task: PublishBuildArtifacts@1      #Publishing the report to Azure Artifact
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'drop'
            publishLocation: 'Container'